*__pycache__/
*.log
*.DS_Store
*.prof
*.config_tmp.yaml
*config_custom.yaml
*.exe
*.spec
/.idea
/maps/
/templates/
/venv/
/config.json
test*
/dist/
/打包指南.md
/build/
/.monkeycode/
/build.bat
/debug_locate/
/debug_route/

/output/
/icon.ico
/新建文本文档.txt
/.venv/
/tree.txt
